:root {
  --bg-color: #ffffff;
  --text-color: #000000;

}

.dark-theme {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: sans-serif;
}

.center-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.main-box {
  margin: 20px
}

.color-picker-box {
  position: absolute;
  top: 12.3%;
  transform: translateY(-50%);
  left: 100%;
}

.return-button {
    font-size: 1em;
    font-family: "ZCOOL QingKe HuangYou", cursive;
    border: none;
    position: absolute;
    background-color: #fff; 
    transition: all 0.5s;
    color: #95190c;
    border-right: 1px solid #eee; 
    border-radius: 2px; 
    border-bottom: 1px solid #ccc; 
}

